.footer-bar {
  align-items: center;
  background-color: #7b38df;
  border-radius: 0 0 15px 15px;
  display: flex;
  height: 65px;
  justify-content: space-evenly;
  padding: 1rem 0;
  position: fixed;
  width: 360px;
}

.absolute-bar {
  bottom: 65px;
  position: absolute;
}
