.category-filter {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.category-btn {
  font-size: 11px;
  margin: 0 0 0.5rem;
  max-width: 60px;
  overflow: hidden;
  padding: 0.3rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category-btn-all {
  background-color: #fb0;
  color: #7b38df;
  font-size: 11px;
  font-weight: 700;
  margin: 0 0 0.5rem;
  padding: 0.3rem 0.5rem;
}

.recipes-grid {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  height: calc(100vh - 530px);
  justify-content: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recipes-grid::-webkit-scrollbar {
  display: none;
}

.recipes-card {
  background-color: #fefefe;
  border: solid #efefef 1px;
  border-radius: 10px;
  max-height: 185px;
  max-width: 155px;
  overflow: hidden;
}

.card-img {
  width: 155px;
}

.card-text {
  font-size: 13px;
  overflow: hidden;
  padding: 1px 10px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail-img {
  max-width: 360px;
  position: absolute;
}
