.recipes-grid {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  height: calc(100vh - 500px);
  justify-content: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recipes-grid::-webkit-scrollbar {
  display: none;
}

.recipes-card {
  background-color: #fefefe;
  border: solid #efefef 1px;
  border-radius: 10px;
  overflow: hidden;
}

.card-img {
  width: 155px;
}

.card-text {
  font-size: 14px;
  padding: 1px 10px 5px;
}
