.category-filter {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.category-btn {
  font-size: 11px;
  margin: 0 0 0.5rem;
  max-width: 60px;
  overflow: hidden;
  padding: 0.3rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category-btn-all {
  background-color: #fb0;
  color: #7b38df;
  font-size: 11px;
  font-weight: 700;
  margin: 0 0 0.5rem;
  padding: 0.3rem 0.5rem;
}

.recipes-grid {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  height: calc(100vh - 530px);
  justify-content: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recipes-grid::-webkit-scrollbar {
  display: none;
}

.recipes-card {
  background-color: #fefefe;
  border: solid #efefef 1px;
  border-radius: 10px;
  max-height: 185px;
  max-width: 155px;
  overflow: hidden;
}

.card-img {
  width: 155px;
}

.card-text {
  font-size: 13px;
  overflow: hidden;
  padding: 1px 10px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: calc(44% + 360px);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.details::-webkit-scrollbar {
  display: none;
}

.details-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: -180px;
  padding: 0 1rem;
  width: 100%;
}

.details-header div {
  display: flex;
}

.details-title {
  background-color: rgb(123, 56, 223, 0.8);
  border-radius: 10px;
  color: #fb0;
  margin: 0.2rem 0 3rem;
  max-width: 280px;
  padding: 1rem 2rem;
}

.details-category {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  padding: 0.1rem 0.35rem;
}

.details-img {
  height: 160px;
  object-fit: cover;
  width: 360px;
}

.share-and-favorite {
  align-items: center;
  color: #333;
  display: flex;
  font-size: 10px;
  height: 35px;
  justify-content: center;
  width: 35px;
}

.share-and-favorite:hover {
  background-color: #fb0;
}

.share-and-favorite img {
  width: 20px;
}

fieldset {
  border: solid #fb0 1px;
  border-radius: 10px;
  font-weight: 300;
  padding: 15px;
  width: 90%;
}

fieldset legend {
  color: rgb(123, 56, 223);
  font-size: 1.1rem;
}

fieldset ul {
  font-size: 0.8rem;
  padding-left: 1rem;
}

fieldset p {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
}
