* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body .root {
  align-items: center;
  background-color: #efefef;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.app {
  background-color: white;
  height: 640px;
  padding: 1rem;
  width: 350px;
}
